<div class="form-container">
  <h1>Cadastro de Veiculos</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-content-container">
      <app-input-form
        label="Finalidade"
        type="text"
        placeholder="Finalidade do Veiculo"
        [control]="getControl('finalidade')"
      ></app-input-form>

      <app-input-form
        label="Localidade"
        type="text"
        placeholder="Localidade onde irá dirigir"
        [control]="getControl('localidade')"
      ></app-input-form>

      <app-input-form
        label="Tempo da Locação"
        type="number"
        placeholder="Tempo em dias"
        [control]="getControl('tempoLocacao')"
      ></app-input-form>

      <app-input-form
        label="Placa do Veiculo"
        type="text"
        placeholder="Placa do Veiculo"
        [control]="getControl('placaVeiculo')"
      >
      </app-input-form>

    </div>
    <button [type]="'submit'">Salvar</button>
  </form>
</div>
